
<div class="row justify-content-center main-container">
  <div class="col-4 ">
    <div class="card" style="width: 26rem;">
      <section style="background-color: #f6f6f7">
      <div class="card-body">
  
        <h5 class="card-title"><div class="fw-bold" ><%= @user.name %><br></div></h5>
        <p class="card-text"><%= @user.address%><br>
        <%= @user.pincode%><br>
        +91 <%= @user.phone%><br></p>
        <%= link_to "+ Edit ", edit_user_path,class:"btn btn-outline-dark"%></p>
        <%= button_to("Deliver to this address", orders_path,
                  class: "btn btn-sm float-end", style:"background-color: #008ecc;")%>
  
      </div>
      </section>                
    </div>
    
  </div>
  
  <div class="col-4 border-sm-start-none border-start">
  
    <div class="fw-bold" >Price Details</div>
    <br>
    <div class="total-price">
    <span>Total Product Price:</span>
    <span>Rs. <%= @cart.total_price%></span>
    </div>
     
    <hr>
    <div class="total-price" ><span> Order Total </span> 
    <span >
    Rs. <%= @cart.total_price%>
    </span>
   
     
    </div>
    </div>
    </div>
  </div>
</div>
