<h3>show cart page</h3>
<ul>
<% @cart.cart_items.each do |item|%>
<li>product: <%= item.product.title%>/ Price: <%= item.product.price%>/ Quantity: <%= item.quantity%></li>
    <ul>
        <li>
            <%= button_to "Add One", carts_path(:product_id => item.product.id)%>
            <%= link_to "remove One"%>
        </li>
        <li>
            <%= link_to "remove"%>
        </li>
        <%= %>
    </ul>
<%end%>
</ul>

<%= button_to("Log Out",destroy_user_session_path,method: :delete) %>