<h3>show cart page</h3>
<ul>
<% @cart_item.cart_items.each do |cart_item|%>
    <li><%= cart_item.product.title%>
    <%= cart_item.product.image%>
    <%= cart_item.product.price%></li>

    <%= link_to "Add One"%>
    <%= link_to "Reduce One"%>
    <%= link_to "Remove Product"%>
<%end%>
</ul>


<%= button_to("Log Out",destroy_user_session_path,method: :delete) %>