<section style="background-color: #f6f6f7">
  <div class="container py-5">
  <div class="row justify-content-center">
  <div class="col-md-8 col-lg-6 col-xl-4">
  <div class="card col-md-12" style="border-radius: 5px;width: 100%">
  <div class="col-md-12 bg-image hover-overlay ripple ripple-surface ripple-surface-light"
            data-mdb-ripple-color="light">
    <%= video_tag @product.video_url.to_s, :controls => true , style: 'height:180px; width:355px;'%>        
  </div>
  <div class="card-body pb-0">
  <div class="d-flex justify-content-between">
    <div>
      <p class="text-danger"> <%= @product.title%></p>
      <p class="small text-secondary"><%= @product.description %></p>
    </div>
    <div>
      <div class="d-flex flex-row justify-content-end mt-1 mb-4 text-danger">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <p class="small text-muted">Rated 4.0/5</p>
    </div>
  </div>
  </div>
    <hr class="my-0" />
    <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <p class="text-dark">Rs. <%= @product.price %></p>
              
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
             
              <%= button_to "Add to Cart", carts_path(:product_id => @product.id), method: :post, class: "btn", style:"background-color: #008ecc;"%>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</section>
 <%= link_to "edit",edit_seller_product_path(@product), class:"btn btn-primary" %>
 <%= button_to("Log Out",destroy_user_session_path,method: :delete) %>